body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.inputText{
    border-radius: 5px;
    border: none;
    margin-top: 100px;
    margin-left: 400px;
    width: 300px;
    padding: 8px;
}
a{
    text-decoration: none;
    color: rgb(248, 103, 50);
    font-size: 15px;
    font-weight: bold;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 7px;
    background-color: rgb(151, 235, 235);
    width: 100px;
}
.liststyle{
    width:390px ;
    background-color: paleturquoise;
    margin: 5px;
    padding: 18px;
    list-style: none;
    display: flex;
    font-weight:bold ;
}
.todoList{
    margin-left: 350px;
}
.todoList .items .liststyle input[type="checkbox"]:focus + label{
    text-decoration: line-through;
}
.btnstyle{
    position: absolute;
    left: 750px;
    padding: 5px;
}
